{% extends 'restaurant/restaurant_log_res.html' %}
{% block restaurant_log_res %}
{% load static %}

    <h2 style="text-align: center;font-family: 'Arial Black';font-size: 40px;color: aqua;text-shadow: 5px 5px 8px black">RESET PASSWORD</h2>
    <br>
<form action="{% url 'reset_password_email' %}" method="post">
{% csrf_token %}
    <table align="center">
    <tr>
        <th>USERNAME</th>
        <th><input type="text" required name="fp1"></th>
    </tr>
    <tr>
        <th>EMAIL</th>
        <th><input type="email" required name="fp2"></th>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center"><br><button type="submit" class="btn btn-primary">reset password</button></th>
    </tr>
        {% for x in messages %}
        <tr>
        <th style="text-align: center;color: aqua">{{ x }}</th>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}