{% extends 'restaurant/restaurant_log_res.html' %}
{% block restaurant_log_res %}
{% load static %}

    <h2 style="text-align: center;font-family: 'Arial Black';font-size: 40px;color: aqua;text-shadow: 5px 5px 8px black">RESET PASSWORD</h2>
    <br>
    <form action="{% url 'forget_password_email_page' %}" method="post">
    {% csrf_token %}
    <table align="center">
    <tr>
        <th><input type="email" placeholder="Enter u r email" required name="em1"></th>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center"><br><button type="submit" class="btn btn-primary">reset password</button></th>
    </tr>
    </table>
    </form>
{% endblock %}