{% extends 'restaurant/restaurant_log_res.html' %}
{% block restaurant_log_res %}
{% load static %}
    <br><br>
 <h3 style="text-align: center;font-family: Algerian;color: white">PASSWORD reset send</h3>
    <p style="text-align: center;color: aqua">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
     <p style="text-align: center;color: aqua">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
<form action="{% url 'otp_validate' %}" method="post">
{% csrf_token %}

    <table align="center">
    <tr>
        <th>OTP</th>
        <th><input type="number" placeholder="******" required name="otp1"></th>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center"><br><button type="submit" class="btn btn-primary">reset password</button></th>
    </tr>
          {% for x in messages %}
        <tr>
        <th style="text-align: center;color: aqua">{{ x }}</th>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}