<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% include 's_admin/restro_menu.html' %}
    {% if request.session.status %}
     <br>
    <h2 style="text-align: center;font-size: 40px;text-shadow: 5px 5px 8px aqua">REJECTED RESTAURANT DETAILS</h2>
    <br>
    <table align="center" border="2" style="border-color: blue">
        <tr bgcolor="red">
            <th style="text-align: center;font-family: 'Arial Black';width: 80px">NO</th>
            <th style="text-align: center;font-family: 'Arial Black';width: 150px">NAME</th>
            <th style="text-align: center;font-family: 'Arial Black';width: 190px">CONTACT NO</th>
            <th style="text-align: center;font-family: 'Arial Black';width: 180px">EMAIL</th>
            <th style="text-align: center;font-family: 'Arial Black';width: 180px">AREA</th>
            <th style="text-align: center;font-family: 'Arial Black';width: 120px">TYPE</th>
        </tr>
        {% for x in data %}
            <tr bgcolor="#f5deb3">
            <th style="text-align: center">{{ x.restro_id }}</th>
            <th style="text-align: center">{{ x.restro_name }}</th>
            <th style="text-align: center">{{ x.restro_contact_no }}</th>
            <th style="text-align: center">{{ x.restro_email }}</th>
            <th style="text-align: center">{{ x.restro_area }},<br>
                {{ x.restro_area.city.city_name }},<br>
                {{ x.restro_area.city.state.state_name }}.
            </th>
            <th style="text-align: center">{{ x.restro_type }}</th>
            </tr>
        {% endfor %}
    </table>
    {% else %}
       <h3 style="text-align: center;font-size: 20px;font-family: 'Agency FB';color: red">PLEASE DO LOGIN FIRST!!!!!!!!!!</h3>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>